<p FundoAmarelo>Seja Bem Vindo a nossa página
    <br>
    Texto com fundo amarelo!
</p>

<button FundoAmarelo>Botão com fundo amarelo.</button>
<br>
<br>

<p HighlightMouse>
    Texto com Highlight quando passo o mouse.
</p>


<p Highlight [defaultColor]="'grey'" [highlightColor]="'red'">
    Texto com Highlight com cores customizadas</p>

<h2>Diretivas Estruturas Customizadas-NgElse</h2>

<div *NgElse="mostrarCursos">
    Lista de cursos aqui.
</div>
<div *NgElse="!mostrarCursos">
    Não existem cursos para serem listados.
</div>
<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>