<h5>Style com property binding (style binding)</h5>

<input type="text">

<button [style.backgroundColor]="ativo? 'blue':'gray'" [style.color]="ativo? 'white':'black'"
    [style.fontWeight]="ativo? 'bold':'normal'" [style.fontsize]="tamanhoFonte+'px'" (click)="mudarAtivo()">
    Mudar atributo 'ativo'
</button>
<br>

<h5>Style com diretivas ngStyle</h5>

<input type="text">

<!--Pode ser usado de ambas as maneiras

<button [ngStyle]="{'backgroundColor': (ativo? 'blue':'gray'),
'color:'(ativo? 'white':'black'), 
'fontWeight':(ativo? 'bold':'normal'),
'fontsize':(tamanhoFonte+'px),
}">Mudar atributo 'ativo'
</button>
<br>
-->